<div>
    <table style="margin: auto">
        <tr style="padding: 20px">
            <td style="padding: 20px">NomeEvento</td>
            <td style="padding: 20px">Quantidade</td>
            <td style="padding: 20px">Preço Unidade</td>
        </tr>
    </table>
    <p style="margin-left: 70%">Total</p>
    <button class="btn btn-success">Finalizar Compra</button>
</div>