<h3>Criar Evento</h3>

<div>
    <div>
        <div class="panel-body">
            <div class="form-group">
                <label class="control-lavel">Nome<input type="text" class="form-control" id="nomeEvento" placeHolder="Linkin Park"></label>
                <label class="control-lavel">Data<input type="date" class="form-control" id="dataEvento"></label>
                <label class="control-lavel">Preço da Entrada (R$)<input type="number" class="form-control" id="precoEvento" placeHolder="200,00"></label>
                <label class="control-lavel">Genero<select class="form-control sigle-select" id="generoEvento">
                    <option selected value="">[Selecione o gênero]</option>
                    <option value="Rock">Rock</option>
                    <option value="Sertanejo">Sertanejo</option>
                    <option value="Indie">Índie</option>
                </select></label>
                <label class="control-lavel">Casa<select class="form-control sigle-select" id="casaEvento">
                    <option selected value="">[Selecione a casa]</option>
                    <option value="VillaCountry">Villa Country</option>
                    <option value="TemploMusic">Templo Music</option>
                    <option value="CredicardHall">Credicard Hall</option>
                </select></label>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">
                    Criar
                </button>
            </div>
        </div>
    </div>

    <div>
        <table class="tabela">
            <tr>
                <td>
                    Nome
                </td>
                <td>
                    Data
                </td>
                <td>
                    Preço
                </td>
                <td>
                    Gênero
                </td>
                <td>
                    Casa
                </td>
                <td>
                    <button class="btn btn-primary">Editar</button>
                </td>
                <td>
                    <button class="btn btn-danger">Excluir</button>
                </td>
            </tr>
            <tr>
                <td>
                    Nome
                </td>
                <td>
                    Data
                </td>
                <td>
                    Preço
                </td>
                <td>
                    Gênero
                </td>
                <td>
                    Casa
                </td>
                <td>
                    <button class="btn btn-primary">Editar</button>
                </td>
                <td>
                    <button class="btn btn-danger">Excluir</button>
                </td>
            </tr>
        </table>
    </div>
</div>