@model Evento
@{
    var evento = Model;
    int ingressosDisponiveis = evento.CasaDeShow.Capacidade - evento.ItensPedidos.Sum(item => item.Quantidade);
}
<h3>@evento.Nome</h3>

<h4>@evento.CasaDeShow.Nome</h4>

<h5>Ingressos</h5>
<p>@ingressosDisponiveis/@evento.CasaDeShow.Capacidade disponíveis</p>
<button class="btn btn-success">Comprar</button>