@model Evento
@{
    
    var casaDeShowRepository = ViewBag.casaDeShowRepository;
    var historicoRepository = ViewBag.historicoRepository;

    var evento = Model;
    var casa = casaDeShowRepository.GetCasaPeloId(evento.CasaDeShowId);

    int ingressosDisponiveis = casa.Capacidade - historicoRepository.CalculaIngressosVendidosPeloEventoId(evento.Id);
}
<h2>@evento.Nome</h2>

<h4>@casa.Nome</h4>

<h5>Ingressos</h5>
<p>@ingressosDisponiveis/@casa.Capacidade disponíveis</p>
<a>R$ @evento.Preco</a>
<a asp-controller="Pedido" asp-action="AddItemCarrinho" asp-route-eventoId="@evento.Id"><button class="btn btn-success">Adicionar ao carrinho</button></a>