<h3>Eventos</h3>

<div>
    <table class="tabela">
        <tr>
            <td>
                <form method="GET">
                    <button class="btn btn-danger" asp-route-test="4" asp-action="Evento"></button>
                </form>
            </td>
            <td>
                Data
            </td>
            <td>
                Preço
            </td>
            <td>
                Gênero
            </td>
            <td>
                Casa
            </td>
            <td>
                10 ingressos disponíveis.
            </td>
        </tr>
    </table>
</div>